################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerNews.Api/HackerNews.Api/obj
/HackerNews.Api/.vs
/HackerNews.Api/HackerNews.Api/bin/Debug/netcoreapp3.1
/HackerNews.Api/HackerNews.Core/bin/Debug/netcoreapp3.1
/HackerNews.Api/HackerNews.Core/obj
/HackerNews.Api/HackerNews.Models/bin/Debug/netcoreapp3.1
/HackerNews.Api/HackerNews.Models/obj
/HackerNews.Api/HackerNews.Services/obj
/HackerNews.Api/HackerNews.Services/bin/Debug/netcoreapp3.1
/HackerNews.Api/HackerNews.Tests/obj/Debug/netcoreapp3.1
/HackerNews.Api/HackerNews.Tests/obj
/HackerNews.Api/HackerNews.Tests/bin/Debug/netcoreapp3.1
/HackerNews.Api/HackerNews.Api/.config
/HackerNews.Api/HackerNews.Api/bin/Release/netcoreapp3.1
/HackerNews.Api/HackerNews.Core/bin/Release/netcoreapp3.1
/HackerNews.Api/HackerNews.Services/bin/Release/netcoreapp3.1
/HackerNews.Api/HackerNews.Tests/bin/Release/netcoreapp3.1
